<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/script.js"></script>
</head>
<body>
    <label for="course-input">Enter course code:</label>
    <input type="text" id="course-input" name="course-input" list="courses-lists"/>

    <datalist id="courses-lists">
        {% for course in courses %}
            <option value="{{ course }}">{{ course }}</option>
        {% endfor %}
    </datalist>
    <br>
    <input type="button" id="generate" value="Generate URL" onclick="genCourseURL()" />
    <br><br>
    <div id="course-url" onclick="copyCourse()" title="Click to copy to clipboard">

    </div>
</body>
</html>