<!DOCTYPE html>
<html>
    <head>
        <title>TimetableSync How-To</title>
        <link rel="stylesheet" href="/static/style.css">
        <style>
            body {
                margin: 20px;
                font-family: "Rubik", sans-serif;
            }
        </style>
    </head>
    <body>
        <h1>Contents</h1>
        <ul>
            <li><a href="#google-calendar">Add to Google Calendar</a></li>
            <li><a href="#apple-calendar">Add to Apple Calendar</a></li>
            <li><a href="#ical-file">Download an iCal file</a></li>
        </ul>

        <h1 id="google-calendar">Add to Google Calendar</h1>
        <ol>
            <li>On your computer, open <a href="https://calendar.google.com/">Google Calendar</a>.</li>
            <li>Go to Settings > Add Calendar > From URL</li>
            <li>Enter the calendar's address, which you can <a href="/timetable">generate here</a>.</li>
        </ol>
        To make sure you calendar syncs on mobile devices:
        <ol>
            <li>On Android devices, open Google Calendar. Go to settings, select the calendar and enable the "Sync" option.</li>
            <li>On Apple devices, go to
                <a href="https://calendar.google.com/calendar/syncselect">https://calendar.google.com/calendar/syncselect</a>,
                select the calendar(s) you want to sync, and then save.
            </li>
        </ol>

        <h1 id="apple-calendar">Add to Apple Calendar</h1>
        <ol>
            <li>On your Apple device, open the Calendar app.</li>
            <li>Go to Calendars > Add Calendar > Add Subscription Calendar</li>
            <li>Enter the calendar's address, which you can <a href="/timetable">generate here</a>, and then click "Subscribe"</li>
        </ol>

        <h1 id="ical-file">Download an iCal file</h1>
        <p>
            If you want to download an iCal file, just go to the calendar's address,
            which you can <a href="/timetable">generate here</a>, and download the generated iCal file when prompted.
        </p>
    </body>
</html>