# Node
node_modules/

# Output
.output/
.vercel/
.svelte-kit/
build/
.react-router

# OS
.DS_Store
Thumbs.db

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Python
__pycache__/
.venv/

# Editor
.vscode/

# Database
db-data/
