@import "tailwindcss";
@import "react-big-calendar/lib/css/react-big-calendar.css";
@import 'react-tabs/style/react-tabs.css';

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
} */

.rbc-allday-cell, .rbc-event-label {
  display: none;
}

.rbc-time-slot {
  font-size: 14px;
}

.rbc-event-content p {
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 4px;
}

.rbc-event {
  border: none !important;
  color: #000;
}

.rbc-event:focus {
  outline: none;
}
