@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


:root {
    /* selector styling */
    --sv-min-height: 40px;
    --sv-bg: oklch(var(--b1));
    --sv-disabled-bg: oklch(var(--er));
    --sv-border-color: oklch(var(--nc));
    /* custom variable */
    --sv-border: 1px solid var(--sv-border-color);
    --sv-border-radius: 4px;
    --sv-general-padding: 4px;
    --sv-control-bg: var(--sv-bg);
    --sv-item-wrap-padding: 3px 3px 3px 6px;
    --sv-item-selected-bg: oklch(var(--b3));
    --sv-item-btn-color: oklch(var(--nc));
    --sv-item-btn-color-hover: var(--sv-item-btn-color);
    --sv-item-btn-bg: var(--sv-item-selected-bg);
    --sv-item-btn-bg-hover: var(--sv-item-btn-bg);
    --sv-icon-color: var(--sv-item-btn-color);
    --sv-icon-color-hover: var(--sv-icon-color);
    --sv-icon-bg: transparent;
    --sv-icon-size: 20px;
    --sv-separator-bg: var(--sv-border-color);
    --sv-btn-border: 0;
    --sv-placeholder-color: var(--sv-bg);
    --sv-dropdown-bg: var(--sv-bg);
    --sv-dropdown-offset: 1px;
    --sv-dropdown-border: 1px solid var(--sv-border-color);
    --sv-dropdown-width: 100%;
    --sv-dropdown-shadow: 0 2px 6px #444;
    --sv-dropdown-height: 320px;
    --sv-dropdown-active-bg: oklch(var(--b3));
    --sv-dropdown-selected-bg: oklch(var(--b3));
    --sv-create-kbd-border: 1px solid var(--sv-border-color);
    --sv-create-kbd-bg: var(--sv-disabled-bg);
    --sv-create-disabled-bg: oklch(var(--er));
    --sv-loader-border: 2px solid var(--sv-border-color);

    /* calendar styling */
    --fc-list-event-hover-bg-color: var(--fc-neutral-bg-color) !important;
    --fc-button-text-color: unset;
    --fc-button-bg-color: unset;
    --fc-button-border-color: unset;
    --fc-button-hover-bg-color: unset;
    --fc-button-hover-border-color: unset;
    --fc-button-active-bg-color: unset;
    --fc-button-active-border-color: unset;
}

.fc .fc-list-sticky .fc-list-day > * {
    background: var(--fc-neutral-bg-color) !important;
}

.fc-event {
    box-shadow: none !important;
    overflow: hidden;
}

.fc-event:hover {
    cursor: pointer;
}

@media (max-width: 640px) { 
    .fc-toolbar-title {
        display: none;
    } 
}
